{% extends 'i_m/base.html'%}

{% block head %}
<title>一个简单的销售系统-Companies</title>
<style>
form {text-align:center;}
table {text-align:center;}
</style>
{% endblock %}

{%  block content %}

<div id="about" class="about">
   <div class="container">
     <div class="about-top">
     <h3>Companies</h3>   
         <div class="clearfix"></div>
       </div>
     </div>
   </div>
</div>

<div class="container">

<form action="/companies" method="get" >
    <table>
        <tr>
            <td><label for="txtname">年：</label></td>
            <td><input type="text" id="query" name="year_from" /></td>
            <td><label for="txtname">月：</label></td>
            <td><input type="text" id="query" name="month_from" /></td>
            <td><label for="txtname">日：</label></td>
            <td><input type="text" id="query" name="day_from" /></td>
        </tr>
        <tr>
            <td><label for="txtname">年：</label></td>
            <td><input type="text" id="query" name="year_to" /></td>
            <td><label for="txtname">月：</label></td>
            <td><input type="text" id="query" name="month_to" /></td>
            <td><label for="txtname">日：</label></td>
            <td><input type="text" id="query" name="day_to" /></td>
        </tr>
        <tr>
            <td colspan=2>
                <input type="reset" />
                <input type="submit" value="提交"/>
            </td>
        </tr>
    </table>
</form> 
<br><br>

{% for company in companies_list %}
    {% autoescape off %}
      <article>
        <header>
          <h5 class="title-link">
            <div style="color: #D0104C;">
            <a href="{{company.get_absolute_url }}"><b>#CSTMR{{company.id}}</b></a>
          </h5>
          <p>名称：{{company.name}}</a>,&emsp;负责人：{{company.contact}}，&emsp;地区：{{company.area}},&emsp;联系方式：{{company.tel}},&emsp;录入时间：{{company.create_time}},&emsp;客户联系方式：{{company.tel}}
          <i class="strp"></i>
          </p>   
        <br>
      </article>
    {% endautoescape %}
{% endfor %} 

<!---->
<ul class="pager">
    {% if  page_obj.has_previous %}
        <li class="previous">
            <a href="?page={{page_obj.previous_page_number}}">&larr; Prev</a>
        </li>
    {% else %}
        <li class="previous disabled">
        </li>
    {% endif %}

    {% if  page_obj.has_next%}
        <li class="next">
            <a href="?page={{page_obj.next_page_number}}">Next &rarr;</a>
        </li>
    {% else %}
        <li class="next disabled">
        </li>
    {% endif %}
</ul>
</div>
<!---->
{%  endblock %}

