{% extends 'i_m/base.html'%}

{% block head %}
<title>一个简单的销售系统-Dispatch</title>
<style>
form {text-align:center;}
table {text-align:center;}
</style>
{% endblock %}

{%  block content %}


<div id="about" class="about">
   <div class="container">
     <div class="about-top">
     <h3>Dispatch</h3>   
         <div class="clearfix"></div>
       </div>
     </div>
   </div>
</div>

<div class="container">

      <article>
        <header>
          <h5 class="title-link">
            <div style="color: #D0104C;">
            <a href="{{dispatch.get_absolute_url }}"><b>#DSPTCH{{dispatch.create_time|date:"Ymd" }}{{dispatch.id}}</b></a>
            &emsp;
            <a href="{{dispatch.bill.get_absolute_url }}"><b>#BILL{{dispatch.bill.create_time|date:"Ymd" }}{{dispatch.bill.id}}</b></a>
          </h5>
          <p>销售人员：{{dispatch.sales_name}} ,&emsp;发货时间：{{dispatch.dispatch_time}} ,&emsp;交货时间：{{dispatch.bill.deliver_time}} ,&emsp;产品名：{{dispatch.product_name}} ,&emsp;发货数量：{{dispatch.quantity}} ,&emsp;订货数量：{{dispatch.bill.quantity}} ,&emsp;客户名：<a href="{{bill.company_name.get_absolute_url }}">{{dispatch.company_name.name}}</a> ,&emsp;客户联系方式：{{dispatch.company_name.tel}}
          <i class="strp"></i>
          </p>        
        <br>
      </article>
<!---->
{%  endblock %}

